
.admin-container{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.heading{
    background: linear-gradient(0deg,rgba(228, 23, 19, 0.815),rgba(190, 80, 33, 0.815),rgba(50, 171, 115, 0.815));
    background-clip: text;
    color: transparent;
}
input, textarea {
          display: block;
          min-width: 90%;
          max-width: 98%;
          max-height: 200px;
          min-height: 50px;
          margin: 5px 0;
          padding: 8px;
          font-weight: 700;
          border: 1px solid #ddd;
          border-radius: 5px;
        }
.notes-list {
          display: grid;
          padding: auto;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 15px;
        }
        .note-card {
          border: 1px solid #ccc;
          padding: 15px;
          border-radius: 8px;
          background: #fafafa;
        }
.note-card{
    border-radius: 20px;
  background: rgba(255, 255, 255, 0.1); /* Transparent */
  backdrop-filter: blur(15px) saturate(180%); /* Blur + saturation */
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.note-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
}
button{
    margin-left:10px ;
    padding: 15px;
    background-color: rgb(36, 36, 155);
    color: white;
    font-weight: 700;
}
button:hover {
  background: rgba(8, 8, 236, 0.97);
}

h2{
    transition: transform 0.3s ease-in;
}
h2:hover{
    transform: translateY(-5px);
}

.member-form,.new-note-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.member-form > input, .new-note-container>input{
    width: 100%;
    padding: 20px;
    transition: border 0.1s ease-in-out;
    font-size: 25px;
}

.member-form > input:hover,.new-note-container>input:hover{
    border: 2px solid rgb(244, 66, 96);
}